* {
	margin: 0;
	padding: 0;
}

body {	
	background-color:blue; 
	background-image: url("https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/fort-collins-colorado/2018/1280x800/Fort-Collins-Temple01.jpg");
	height: 100vh;
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	position:relative;
	font-family: Acme, Arial, sans-serif;
	
	
}



 h1 {
	display:flex;
	font-size: 1.5rem;
	background-color: grey;
	border: solid black;
	color: white;
	align-content: center;
	float: left;
	margin-left: 75px;
	margin-top: 26;
		
}

main{
	
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color: #dddddd;
	display: flex;
	flex-direction: column;
	margin-top: 38px;
	margin-left: 10px;
	float: left;
	
}





input,
button {
	padding: 0.5rem;
	border-color: black;
}

.ul{
	border-color: black;

}

button {
	margin: 0.5rem;
}

.delete {
	width: fit-content;
}

.input {
	display: flex;
	gap: 1rem;
}

.list {
	padding: 0.5rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 520px;
	}
}
