/* $white: #ffffffff;
$citrine: #E3D508ff;
$yinmn-blue: #2A4D87ff;
$powder-blue: #97ABD2ff;
$black-bean: #3c1518ff;
$sinopia: #D23414ff; */

h1 {
    font-family: Cormorant+Garamond;
    color: #3c1518ff;
}

h3 {
    font-family: roboto;
}