body {
    background-color: rgba(249, 239, 226, 0.725);
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;

}
h1{
    font-family: "Cinzel";
}

header {
  text-align: center;
  background-color: rgb(246, 154, 16);
}

main {
  display: block;
  grid-template-columns: 1fr;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;

}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    height: auto;
  border:  8px solid;
  border-color: black;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  
}
.first-word{
    font-weight:  bold;
    
}

h2  {
    font-family: "Cinzel";
    color: rgba(0, 0, 255, 0.991);
    padding: 3px;
}

footer{
    font-family: "Cinzel";
    text-align: center;
    font-weight: bold;

}

h3{
    font-family: "helvetica";
    text-align: center;
    font-weight: 100;
}