/* For large screens */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    .rental-type {
        width: 30%;
    }

    .hero-text {
        width: 50%;
    }

    .weather {
        padding: 30px;
    }
}