/* Import Fonts */
@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoflex/v26/NaNNepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC79QRyaLshNDUf3e0O-gn5rrZCu20YNau2OPF80A.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  @font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoflex/v26/NaNNepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC79QRyaLshNDUf3e0O-gn5rrZCu20YNau4OPE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notoserif/v23/ga6daw1J5X9T9RW6j9bNVls-hfgvz8JcMofYTYf0D33Esw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  @font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notoserif/v23/ga6daw1J5X9T9RW6j9bNVls-hfgvz8JcMofYTYf6D30.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* SCSS Colors */
  :root {
    --reseda-green: #61835d;
    --moonstone: #60a1a9;
    --platinum: #dedcda;
    --light-blue: #b1cfd5;
    --gradient-bg: linear-gradient(135deg, #61835d, #60a1a9, #dedcda, #b1cfd5);
}
  
    /* SCSS Gradient */
 /* $gradient-top: linear-gradient(0deg, #61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);
  $gradient-right: linear-gradient(90deg, #61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);
  $gradient-bottom: linear-gradient(180deg, #61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);
  $gradient-left: linear-gradient(270deg, #61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);
  $gradient-top-right: linear-gradient(45deg, #61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);
  $gradient-bottom-right: linear-gradient(135deg, #61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);
  $gradient-top-left: linear-gradient(225deg, #61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);
  $gradient-bottom-left: linear-gradient(315deg, #61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);
  $gradient-radial: radial-gradient(#61835dff, #60a1a9ff, #dedcdaff, #b1cfd5ff);*/
  
  body {
    font-family: 'Roboto Flex', sans-serif; 
    background: linear-gradient (135deg #dedcdaff, #b1cfd5ff);
    margin: 0;
    padding: 0;
    
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
    color: rgba(97, 131, 93, 1);;
    font-weight: bold;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;  
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:black;    
}

.header-content img{  
  font-family: "robotoflex";
  display: grid;  
  margin-right: 1020px;  
  margin-bottom: 78px;
}



.navigation ul {
  display:flex;
  list-style: none;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px;
    
}

.navigation ul li {
    margin: 0 5px;
    font-size: 1.5rem;
    color: black;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    
}

.navigation ul li a.active {
    font-weight: bold;
}
 .navigation a:hover {
  color:orangered;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.hero-text h1 {
  text-decoration: underline;
  color:yellow;
}
.hero-text p {
  font-size: 1.5rem;
}
.hero-text button{
  padding: 15px;
  border: solid lightskyblue 8px;
  color: black;
  font-size: 1rem;
}

.hero-text button:hover{
  padding: 15px;
  border: solid lightskyblue 8px;
  color: white;
  font-size: 1rem;
}

.rentals-summary {
    text-align: center;
    padding: 20px;
}

.rental-types {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 5px;
}

.rental-type {
    text-align: center;
}
.rentals-summary p{
  color:blue;
  font-weight: bold;
}

.rental-type img {
    width: 200px;
    height: auto;
}


.weather {
    text-align: center;
    padding: 20px;
    background-color: #60a1a9;
}
 #weather-info p {
  color:white;
  
 }
footer {
    background-color: var(--reseda-green);
    padding: 10px 20px;
    color: white;
    text-align: center;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 12px;
}

.fa:hover {
    opacity: 0.5;
}

.fa-twitter{
  background: #3B5998;
  color: white;
}

.fa-facebook {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


/* Closeable message for high temperature */
#high-temp-message {
    background-color: var(--moonstone);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

#high-temp-message button {
   background-color: transparent;
   font-size: 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
}

    #high-temp-message button:hover {
      background-color: orangered;
     
  }
    
  
  .hero button {    
    color: white;
    padding: 0.1em 2em;
    border: none;
    border-radius: 0.35em;
    cursor: pointer;
    font-size: 1.8rem;  
    background-color:lightskyblue;
  }  
    .hero button:hover {
      background-color: orangered;
    }
  
  
  .footer {
    background-color: rgba(222, 220, 218, 1);
    color:  rgba(97, 131, 93, 1);
    padding: 2.5rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  footer p {
    margin: 0;
  }
   
  
/*CSS for Reservations*/
.reservation-container {
  display: flex;
  gap: 20px;
  padding: 20%;
  background-color:lightblue;
  
}

.agreement,
.form-container {
  flex: 1;
  background-color: linear-gradient(135deg, #61835d, #60a1a9, #dedcda, #b1cfd5);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 8px #dedcda;
}

.agreement ul {
  padding-left: 20px;
}

.agreement li {
  font-size: 1.5rem;
  padding: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group button {
  padding: 20px 20px;
  background-color: #007bff;
  color: #fff;
  border: solid black 2px;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}
#pricing-table {
  table, th, td {
    border:3px solid var(--moonstone);
    text-align: center;
    font-size: 1.5rem;
  }
}

h1, h2 {
  text-align: center;
  font-size: 2.5rem;
  color:navy;
}