/* SCSS RGB */
/*$rich-black: rgba(0, 8, 20, 1);
$powder-blue: rgba(151, 171, 210, 1);
$yinmn-blue: rgba(42, 77, 135, 1);
$mikado-yellow: rgba(255, 195, 0, 1);
$red: rgba(255, 0, 0, 1);*/

@font-face {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/elmessiri/v22/K2F0fZBRmr9vQ1pHEey6Mo2AAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  
  @font-face {
    font-family: 'Ubuntu Sans';
    font-style: normal;
    font-weight: 100 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntusans/v2/co3VmWd6mSRtB7_9UaLWwJnCq5ALePfPu1tPcW2d6TaG.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    text-align: center;
    background-color:white;
    font-family: "El Messiri", serif;
    padding: 20px;
  }

  h1{
    font-family: "el messiri", serif;
    text-align:center;
  }

  nav{
    background-color:rgba(151, 171, 210, 1);
    color: black;
    padding: 10px;
  }

  nav ul {
    list-style: none;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .image-box {
    flex: 1 0 25%;
    padding: 20px;
  }
  .content-box {
    flex: 1 0 25%;
    padding: 20px;
    background-color: rgba(151, 171, 210, 1);
    border:  1px solid #ccc;
  }
 
  

  .social-icons {
    display: flex;
    padding: 20px;
    font-size: 30px;
    justify-content: center; 
    
  }

  .social-icons a {
    font-size: 30px;
    text-decoration: none;
    margin: 0 10px;
  }

  .social-icons a:hover {
    opacity: 0.7;
  }
  
   
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
   
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  footer {
    background-color: rgba(42, 77, 135, 1);
    color: white;
    padding: 20px;
    text-align: center;
  }