grid-container{
    display:grid;
    grid-template-columns: repeat(12,fr);
    
}
body{
    grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body {
  max-width: 40%;
  margin: 0 auto;
}

h1 {
  color: black;
}

header {
  font-family: 'Roboto', sans-serif;
  background: rgb(205, 245, 45);
  padding: 2rem;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: auto auto;
}

nav {
  font-family: 'Roboto', sans-serif;
  background: rgb(164, 244, 244);
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
  position:relative;
}

nav img {
    vertical-align:middle;
}

nav ul {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  position: relative;
}

nav a {
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  border: 1px solid white;
}

nav img.icon{
  display:block;
  margin: 0 auto;
}

@media (min-width: 640px) {
  nav ul {
      display: flex;
  }
  
  nav ul li {
      flex: 1 1 100%;
  }
}

main {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient rgb(74, 217, 236);
  filter: contrast(100%);
  padding: 2rem;
  grid-column: 1/4;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Adjust the gap as needed */
  }
  
  h2 {
    grid-column: span 2;
  }

h2 {
  color: black;
  text-align:left ;
}

h3 {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
header {
  position: relative;
}

header img {
  vertical-align: center; 
}

header img.icon {
  display: block;
  margin: 0 auto;
 horizontal-align: center;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5rem 0;
    font-size: smaller;
  }