body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    background-color: blue;
    color: white;
    padding: 1em;
    width: 100%;
    text-align: center;    
}

main {
    width: 90%;
    
    margin: 2em auto;
    display: grid;
    gap: 1em;
}

section {
    border: 1px solid #ddd;    
    padding: 1em;
    text-align: center;
    background-color: #a9a5a5;
}

h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color:blue;
}

p {
    font-size: 1em;
    margin: 0.5em 0;
}

img {   
    max-width: 100%;
    height: auto;
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
    main {
      
        grid-template-columns: repeat(4, 1fr); /* Four columns for desktop */
    }
}