/* Styles for larger screens (min-width: 1024px) */
/* SCSS RGB */
/*$rich-black: rgba(0, 8, 20, 1);
$powder-blue: rgba(151, 171, 210, 1);
$yinmn-blue: rgba(42, 77, 135, 1);
$mikado-yellow: rgba(255, 195, 0, 1);
$red: rgba(255, 0, 0, 1);*/

@font-face {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/elmessiri/v22/K2F0fZBRmr9vQ1pHEey6Mo2AAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  
  @font-face {
    font-family: 'Ubuntu Sans';
    font-style: normal;
    font-weight: 100 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntusans/v2/co3VmWd6mSRtB7_9UaLWwJnCq5ALePfPu1tPcW2d6TaG.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  :root{
    --primary-color: rgba(151, 171, 210, 1);
    --secondary-color: rgba(42, 77, 135, 1);
    --accent-color: rgba(255, 195, 0, 1);
    --text-color: #000;
    --border-color: #ccc;
  }

  @media (min-width: 1201px) {
    .spotlights {
        grid-template-columns: repeat(3, 1fr);
    }
}