h1 { 
    text-align: center;
}

main{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}
footer {
    text-align: center;
}

img {
    width: 100%;
    background-color: black;
    border: solid brown 3px;
    animation: fade 10s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
    

}