body {
font-family:  'Geneva', Verdana, sans-serif;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
justify-content: center;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
   max-width: 800px;
    
}
header,
footer {
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
}

picture {
    margin: 20px 0;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: black;
    border: solid brown 6px;
    transition: opacity 1s ease-in-out;
}
img.lazy-loaded {
    opacity: 1;
    }
.additional-info {
    margin-top: 10px;
}    
    

