grid-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map-container {
  flex: 1;
}


.map-container iframe,
.image-container img {
  width: 100%;
  height: auto;

}

.image-container {
  flex: 1;
}

.additional-info {
  flex: 1;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  color: black;
}

header {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(205, 245, 63);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header h1 {
  justify-self: start;
}

nav {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(164, 244, 244);
  padding: 2rem;
  margin: 1rem auto;
  max-width: 700px;
}



nav ul {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  list-style-type: none;

}

ul {
  list-style-type: none;
}



nav a {
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  border: 1px solid white;
}

/* small view navigation*/
@media only screen and (max-width: 768px) {
  main {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(74, 217, 236);
    filter: contrast(100%);
    padding: 2rem;
    grid-column: 1/4;
    text-align: center;
    display: block;
    flex-direction: column;

  }

  .card {
    color: black;
  }

  .card-container {
    display: block;
  }
}

h2 {
  color: black;
}

h3 {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}



header img {
  justify-items: end;
}

header img.icon {
  display: block;
  margin: 0 auto;

}

footer {
  text-align: center;
}

/* Mobile View Styles */

.navigation {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;


}


#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.25rem 0.75rem;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
}



#menu::before {
  content: "☰";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: ;
  color: #fff;
}

.navigation a:hover {
  background-color: #bbb;
  color: ;
  font-weight: 700;
}

.open a {
  display: block;
}

.active::before {
  content: "❤️"
}

li {
  display: block;
  text-align: center;
  margin: 10px 0;
}


#menu {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

#menu.open {
  content: '❌';
  /* Change to 'X' when active */
}
}


.navigation ul li:has::after {
  content: '⬇️';
  margin-left: 5px;
  color: #fff;
}