body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: #E3F68D;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header h1 {
  justify-self: start;
}

.navigation {
  display: flex;
  background-color: #C7FAD6;
  flex-direction: column;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

main {
  padding: 5px;
  background-color: #B1EDE8;

}

main h2 {
  text-align: center;

}

.main-div {
  display: flex;
  flex-direction: column;
}

.card {
  border: 2px solid black;
  border-radius: 2px;
  padding: 2px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

nav a:hover {
  border: 1px solid white;
}

.open a {
  display: block;
}

header img {
  justify-items: end;
}

footer {
  text-align: center;
}


#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 7px 6px;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

li {
  display: block;
  /* text-align: center;
  margin: 10px 0; */
}