grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body {
  max-width: 40%;
  margin: 0 auto;
}

h1 {
  color: black;
}

header {
  font-family: 'Roboto', sans-serif;
  background: rgb(205, 245, 63);
  padding: 2rem;
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
}

nav {
  font-family: 'Roboto', sans-serif;
  background: rgb(164, 244, 244);
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  flex: 1 1 auto;
}

nav img {
  vertical-align: middle;
}

nav ul {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  position: relative;
  flex: 1 1 auto;
}

nav a {
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  flex: 1 1 auto;

}

nav a:hover {
  border: 1px solid white;
}



@media (min-width: 640px) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 auto;
  }
}

main {
  font-family: 'Montserrat', sans-serif;
  background: rgb(74, 217, 236);
  filter: contrast(100%);
  padding: 2rem;
  grid-column: 1/4;
}

.card {

  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: relative;
}

header img {
  vertical-align: middle;
}

header img.icon {
  display: block;
  margin: 0 auto;

}