:root {
    --main-bg-color: rgb(0, 110, 182);
    --main-text-color: white;
    --main-padding: 1rem;
}


body {
    max-width: 100%;
    margin: 0 auto;
    padding: var(--main-padding);
    background-color: white;
  }
  


.header {    
    position: relative;
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: var(--main-padding);
      }
.header h1 {
    align-content: center;
}


.navigation a {
        display: block;
        text-align: center;
        padding: var(--main-padding);
        text-decoration: none;
        color:#333;
        justify-content: space-evenly;
        background-color:#999;
        
      }

.navigation a:hover {
        border: var(--main-text-color);
        background-color: #9c2c13;
        color: var(--main-text-color);
        font-weight: 700;
      }      

main {
    display: block;
    padding: 20px;
}

form.wf2 input[type="submit"]{
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: var(--main-text-color);
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
  
    box-shadow: 1px 1px 4px #999;
   
}

form.wf2 input[type="text"],
form.wf2 input[type="password"],
form.wf2 input[type="password"],
form.wf2 input[type="email"],
form.wf2 input[type="range"]{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

form.wf2 label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

form input, form button {
    width: 100%;
    max-width: 430px;
    border-radius: 6px;
    padding: 10px;
    margin-top: 7px;
    align-content: center;
    background-image: linear-gradient(90deg, white, hsla(216, 74%, 77%, 0.452));
}

#ratingValue {
    display: block;
    margin-left: 10px;
}

.grid-container {
    display: block;    
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: var(--main-padding);
    text-align: center;
    gap: 2rem; 
}

  #last-modified {
    display: block;    
    background-color: var(--main-bg-color);
    color: var(--main-text-color);    
}
