@media(min-width: 640px) {

    .navigation {
        flex-direction: row;
        justify-content: space-around;
    }

    .main-div {
        flex-direction: row;
        justify-content: space-around;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }


    .navigation a {
        display: block;
        
    }

}